body{
background-image: url("https://www.youloveit.com/uploads/posts/2021-06/1623169106_youloveit_com_bratz_20_yearz_dolls.jpg");
}

#results {
         display:none;
		 background-color: pink;
		 p.dotted {border-style: dotted;}
       }
	   
body{
background-image: url("https://www.youloveit.com/uploads/posts/2021-06/1623169106_youloveit_com_bratz_20_yearz_dolls.jpg");
}